article{
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    color: black;
}

h3{
    color: black;
}

.urgente{
    background-color: tomato;
    border: 2px solid darkred;
}

.diaria{
    background-color: antiquewhite;
    border: 2px solid darkgray;
}

.mensual{
    background-color: gray;
    border: 2px solid darkgray;
}