.recipes {
  display: flex;
}

.recipes__w-list {
  flex-grow: 1;
}

.recipes__w-detail {
  flex-grow: 1
}

.recipes__img {
  width: 100px;
  height: auto;
}

.recipes__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.recipes__title {
  margin: 0
}


.recipes__detail-img {
  width: 300px;
  height: auto;
}

.recipes__detail-title {
  font-size: 1.5em;
  margin: 0
}