.formStyle{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 30px;
}

.submitButton{
    display: flex;
    justify-content: center;
}

.redError{
    color: red;
    font-weight: lighter;
}

.red{
    color: red;
}