

@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Caprasimo&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/*recuerda usar root para genericos despues callleados con var()*/
:root{
    --primary-font: "Montserrat", sans-serif;
}

body{
    font-family: var(--primary-font);
}

footer{
    background-color: black;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}